<div class="main-cart__items-container main-cart__section {% if cart == empty %} is-empty{% endif %}">

  <div class="cart__warnings text-center">
    <h2 class="cart__empty-text h3">{{ 'sections.cart.empty' | t }}</h2>
    <a href="{{ mod_shop_all_link | default: routes.all_products_collection_url }}" class="button">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>

  <div class="cart__contents critical-hidden">
    {%- if cart != empty -%}
      <div class="main-cart__line-items grid" id="cart-items" data-id="{{ section.id }}">
        <h4 class="h4 no-margin">{{ 'sections.cart.in_bag' | t }}</h4>
        <div class="cart-items__items grid">
          {%- for item in cart.items -%}
            {% render 'cart-line-item', item: item %}
          {%- endfor -%}
        </div>
      </div>
    {%- endif -%}

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
  </div>
</div>
