{%- liquid
  assign title = title | default: 'Sign Up'
  assign title_t = title_t | default: blank
  assign slideout_id = slideout_id
  assign content = content
  assign type = type | default: ''
-%}
<tooltip-modal cloak type="{{ type }}" slideout-id="{{ slideout_id }}" open="false" shadowStylesheet="{{ 'tooltip-modal-shadow.css' | asset_url }}" >
    <h2 slot="title" class="b3 bold no-margin color-off-black normal">
      {%- if title_t != blank -%}
        {{ title_t | t }}
      {%- else -%}
        {{ title }}
      {%- endif -%}
    </h2>
  <span slot="content" class="{{ mod_content_class }}">
    {{ content }}
  </span>
</tooltip-modal>
