<!doctype html>
<html class="no-js full-height" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link
      href='https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap'
      rel='stylesheet'
    >


    {{ 'page-password.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  </head>

  <body class="password__outer">
    <div class="password__password js-password-reveal">
      <div class="visually-hidden js-password-field">
        {%- form 'storefront_password', class: 'password-form' -%}
          <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
            <div class="input-container animate-label">
              <label for="{{ 'general.password_page.login_form_password_label' | t }}">
                {{ 'general.password_page.login_form_password_placeholder' | t }}
                <span>*</span>
              </label>
              <input
                type="password"
                name="password"
                id="Password"
                class="field__input"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
              />
              {%- if form.errors -%}
                <div id="PasswordLoginForm-password-error" role="status">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">{{ 'general.password_page.login_form_error' | t }}</span>
                </div>
              {%- endif -%}
              <button name="commit" class="password-button button button--outline">
                {{ 'general.password_page.login_form_submit' | t }}
              </button>
            </div>

          </div>
        {%- endform -%}
      </div>
    </div>
    <main id="MainContent" class="password container">
      <div class="logo">
        <span class="s1 logo__eyebrow">{{ 'general.password_page.welcome' | t }}</span>
        {%- render 'header-logo' -%}
      </div>
      {{ content_for_layout }}
    </main>

    <script>
      document.querySelector(".js-password-reveal")?.addEventListener("click", function() {
        document.querySelector(".js-password-field")?.classList.remove("visually-hidden");
        document.querySelector(".js-password-reveal")?.classList.add("full-size")
      })
    </script>

    {%- render 'vendor-integration-cordial' -%}
  </body>
</html>
