<script src='{{ "component-adaptive-image.js" | asset_url }}' defer='defer' type='module'></script>

<h1 class="h3 password__header">{{ section.settings.header }}</h1>
<h2 class="h4">{{ section.settings.subheader }}</h2>
{% render 'adaptive-image', mod_image: section.settings.signature, mod_alt: '', mod_loading: 'eager' %}

<h2 class="h4">{{ section.settings.sign_up_header }}</h2>
<a class="button password__cta" href="{{ section.settings.sign_up_cta_link }}">{{ section.settings.sign_up_cta_text }}</a>

<h2 class="h4">{{ section.settings.shop_elsewhere_header }}</h2>
<div class="password__ctas">
  {% for block in section.blocks %}
    <a class="button button--light" href="{{ block.settings.cta_link }}" rel="noopener nofollow" target="_blank">{{ block.settings.cta_text }}</a>
  {% endfor %}
</div>

<div class="password__columns">
  {% if section.settings.questions_header_fr != blank and section.settings.questions_body_fr != blank and section.settings.questions_email_title_fr != blank and section.settings.questions_email_fr != blank %}
    <div>
      <h2 class="h3 password__questions-header">{{ section.settings.questions_header_fr }}</h2>
      <p class="password__questions-text b1">{{ section.settings.questions_body_fr }}</p>
      <h3 class="b2 b2--medium password__questions-email">{{ section.settings.questions_email_title_fr }}</h3>
      <a href="mailto:{{ section.settings.questions_email }}">{{ section.settings.questions_email_fr }}</a>
    </div>
  {% endif %}
  <div>
    <h2 class="h3 password__questions-header">{{ section.settings.questions_header }}</h2>
    <p class="password__questions-text b1">{{ section.settings.questions_body }}</p>
    <h3 class="b2 b2--medium password__questions-email">{{ section.settings.questions_email_title }}</h3>
    <a href="mailto:{{ section.settings.questions_email }}">{{ section.settings.questions_email }}</a>
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Main text",
      "default": "Bonjour And Happy Holidays"
    },
    {
      "type": "text",
      "id": "subheader",
      "label": "Sub text",
      "default": "Please Pardon Our Appearance While We Re-Design Maison Mercier!"
    },
    {
      "type": "image_picker",
      "id": "signature",
      "label": "Signature"
    },
    {
      "type": "text",
      "id": "sign_up_header",
      "label": "Sign up header",
      "default": "Sign up for emails to be notified when our new site experience is live"
    },
    {
      "type": "text",
      "id": "sign_up_cta_text",
      "label": "Sign up CTA text",
      "default": "Notify me"
    },
    {
      "type": "text",
      "id": "sign_up_cta_link",
      "label": "Sign up CTA link"
    },
    {
      "type": "text",
      "id": "shop_elsewhere_header",
      "label": "Shop elsewhere header",
      "default": "In the Meantime, Find Your Favorites Here:"
    },
    {
      "type": "text",
      "id": "questions_header",
      "label": "'Got questions' header"
    },
    {
      "type": "text",
      "id": "questions_body",
      "label": "'Got questions' body"
    },
    {
      "type": "text",
      "id": "questions_email_title",
      "label": "'Got questions' email title",
      "default": "Email Us"
    },
    {
      "type": "text",
      "id": "questions_email",
      "label": "'Got questions' email"
    },
    {
      "type": "text",
      "id": "questions_header_fr",
      "label": "'Got questions' header (FR)"
    },
    {
      "type": "text",
      "id": "questions_body_fr",
      "label": "'Got questions' body (FR)"
    },
    {
      "type": "text",
      "id": "questions_email_title_fr",
      "label": "'Got questions' email title (FR)"
    },
    {
      "type": "text",
      "id": "questions_email_fr",
      "label": "'Got questions' email (FR)"
    }
  ],
  "blocks": [
    {
      "name": "CTA",
      "type": "cta",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA text"
        },
        {
          "type": "text",
          "id": "cta_link",
          "label": "CTA link"
        }
      ]
    }
  ]
}
{% endschema %}
