{% render 'async-stylesheet', mod_url: 'section-featured-categories-4up.css' %}

<section class="featured-categories" {% if section.settings.id != blank %} id='{{ section.settings.id }}'{% endif %}>
  <div class="container">
    {% if section.settings.section_heading != blank %}
      <div class="text-center featured-categories__title-container">
        <h2 class="s1 featured-categories__title color-off-black no-margin">{{ section.settings.section_heading }}</h2>
      </div>
    {% endif %}
    <div class="flex featured-categories__grid">
      {% for block in section.blocks %}
        <div class="featured-category__item-container">
          <div class="featured-category__item-inner {% if block.settings.category_image == blank %}background-color-off-black{% endif %} flex justify-center align-center">
            {% if block.settings.category_link != blank %}<a class="featured-category__item-link no-underline flex justify-center align-center" href="{{ block.settings.category_link }}">{% endif %}
              <div class="featured-category__image-container">
                {%- liquid
                  if block.settings.category_image
                    render 'adaptive-image', mod_image: block.settings.category_image, mod_alt: block.settings.category_image.alt
                  endif
                %}
              </div>
              <div class="flex justify-center featured-category__content-container color-off-white align-center">
                <div class="text-center featured-category__content-inner">
                  {% if block.settings.eyebrow != blank %}
                    <p class="s1 featured-category__subheading">{{ block.settings.eyebrow }}</p>
                  {% endif %}
                  {% if block.settings.heading != blank %}
                    {% if section.settings.section_heading == blank %}
                      <h2 class="h2 no-margin featured-category__title ">{{ block.settings.heading }}</h3>
                      {% else %}
                      <h3 class="h2 no-margin featured-category__title ">{{ block.settings.heading }}</h3>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            {% if block.settings.category_link != blank %}</a>{% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.section-featured-categories-4up.name",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "t:sections.section-featured-categories-4up.settings.section-heading.label"
    },
    {
      "type": "text",
      "id": "id",
      "label": "t:sections.section-featured-categories-4up.settings.id.label",
      "info": "t:sections.section-featured-categories-4up.settings.id.info"
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "type": "category",
      "name": "t:sections.section-featured-categories-4up.blocks.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "category_image",
          "label": "t:sections.section-featured-categories-4up.blocks.settings.category-image.label"
        },
        {
          "type": "text",
          "id": "eyebrow",
          "label": "t:sections.section-featured-categories-4up.blocks.settings.eyebrow.label"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.section-featured-categories-4up.blocks.settings.heading.label",
          "default": "Title"
        },
        {
          "type": "url",
          "id": "category_link",
          "label": "t:sections.section-featured-categories-4up.blocks.settings.category-link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.section-featured-categories-4up.name",
      "blocks": [
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        },
        {
          "type": "category"
        }
      ]
    }
  ]
}
{% endschema %}
