{% render 'async-stylesheet', mod_url: 'section-banner-inset-with-text.css' %}

<section
  class='banner-inset-with-text'
  {% if section.settings.id != blank %}
    id='{{ section.settings.id }}'
  {% endif %}
>
  <div class='banner-inset-with-text__container container'>
    <div
      class='banner-inset-with-text__image-container  {% if section.settings.color_theme == 'dark' %}background-color-off-black {% else %}background-color-off-white{% endif %}'
      {% if section.settings.background_image != blank %}style="background-image: url('{{ section.settings.background_image.src | image_url }}');"{% endif %}
    >
      <div class='banner-inset-with-text__text-container {% if section.settings.color_theme == 'dark' %} color-off-white {% else %} color-off-black {% endif %}'>
        {%- if section.settings.eyebrow != blank -%}
          <p class='no-margin s1 text-center uppercase'>
            {{ section.settings.eyebrow }}
          </p>
        {% endif %}

        {%- if section.settings.heading != blank -%}
          <h2 class='{% if section.settings.text_size == "small" %}h3 {% endif %}banner-inset-with-text__body text-center'>
            {{ section.settings.heading }}
          </h2>
        {% endif %}

        {%- if section.settings.body != blank -%}
          <p class='no-margin b2 text-center'>
            {{ section.settings.body }}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.banner-inset-with-text.name",
  "settings": [
    {
      "type": "text",
      "id": "id",
      "label": "t:sections.banner-inset-with-text.settings.id.label",
      "info": "t:sections.banner-inset-with-text.settings.id.info"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:sections.banner-inset-with-text.settings.background-image.label"
    },
    {
      "type": "text",
      "id": "eyebrow",
      "label": "t:sections.banner-inset-with-text.settings.eyebrow.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.banner-inset-with-text.settings.heading.label",
      "default": "Section Heading"
    },
    {
      "type": "textarea",
      "id": "body",
      "label": "t:sections.banner-inset-with-text.settings.body.label"
    },
    {
      "type": "radio",
      "id": "color_theme",
      "label": "t:sections.banner-inset-with-text.settings.color-theme.label",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "light"
    },
    {
      "type": "radio",
      "id": "text_size",
      "label": "t:sections.banner-inset-with-text.settings.text-size.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.banner-inset-with-text.settings.text-size.options.small"
        },
        {
          "value": "large",
          "label": "t:sections.banner-inset-with-text.settings.text-size.options.large"
        }
      ],
      "default": "small"
    }
  ],
  "presets": [
    {
      "name": "t:sections.banner-inset-with-text.name"
    }
  ]
}
{% endschema %}
